global
    maxconn 4096
    tune.bufsize 8192
    log stderr local0 notice

defaults
    mode http
    timeout connect 50ms
    timeout client  5s
    timeout server  5s
    option dontlognull

frontend front
    bind :9999
    default_backend apis

backend apis
    balance roundrobin
    option http-reuse always
    option httpchk GET /ready
    server api1 unix@/run/api/api1.sock check inter 5s rise 1 fall 2
    server api2 unix@/run/api/api2.sock check inter 5s rise 1 fall 2
