global
    maxconn 4096
    log stderr local0 notice

defaults
    mode http
    timeout connect 500ms
    timeout client  5s
    timeout server  10s
    option dontlognull

frontend front
    bind :9999
    default_backend apis

backend apis
    balance roundrobin
    option http-reuse always
    server api1 unix@/run/api/api1.sock
    server api2 unix@/run/api/api2.sock
