global
    maxconn 4096
    log stderr local0 notice

defaults
    mode http
    timeout connect 500ms
    timeout client  5s
    timeout server  10s
    option dontlognull

frontend front
    bind :9999
    default_backend apis

backend apis
    balance roundrobin
    server api1 api1:9998
    server api2 api2:9998
